<%- include("partials/header") %>

  <form action="/delete/confirm" method="post">
    <div class="purchase-main">
      <div class="input-group">
        <input name="SearchItemP" type="text" class="form-control" placeholder="Search for items to delete">
        <div class="input-group-append">
          <button class="btn btn-secondary btn-purchase" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  




  <%- include("partials/footer") %>