<%- include("partials/header") %>

    <div class="container-fluid  mt-100">

        <div class="col-sm-12 empty-cart-cls empty-cart-cls">
            <img src="images/empty-cart.png" alt="">
            
            <h3><strong>Your Cart is Empty</strong></h3>
            <h4>Add something :)</h4>
            <a href="/purchase" class="btn btn-dark cart-btn-transform m-3" data-abc="true">Purchase</a>
        </div>

    </div>


<%- include("partials/footer") %>